body {
  background: #222;
  color: #eee;
  font: 12pt sans-serif;
  display: flex;
}

h1 {
  font-size: 18pt;
}

#instructions {
  padding: 1em;
}

/* CSS hex grid logic partially stolen from https://ninjarockstar.dev/css-hex-grids/ */
#grid {
  display: inline-grid;
  grid-template-columns: repeat(7, 20px 40px) 20px;
  grid-gap: 5px 10px;
}

#score {
  font-weight: bold;
}

.tile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 44% 0;
  height: 0;
  color: white;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  background-color: #666;
}

.tile.red {
  background-color: #c00;
}

.tile.blue {
  background-color: #00e;
}
